* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #202930;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

main {
  height: 100%;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

section {
  width: 120vw;
  background: #a19a8f;
}

.wrap {
  display: flex;
  height: 100%;
}

.section {
  height: 100%;
  position: relative;
}

.section img {
  width: 100%;
  height: 100%;
}

.blocks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

.block {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  background: transparent;
  z-index: 100;
  padding: 2rem 1.25rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  pointer-events: auto;
  cursor: pointer;
  border-left: 0.2rem solid #000;
  font-weight: 500;
}

.block[data-block-section="2"].init {
  left: calc(100vw - 16rem);
}

.block[data-block-section="2"].fixed {
  left: 4rem;
  border-left: 0.2rem solid #000;
}

.block[data-block-section="3"].init {
  left: calc(100vw - 12rem);
}

.block[data-block-section="3"].fixed {
  left: 8rem;
}

.block[data-block-section="4"].init {
  left: calc(100vw - 8rem);
}

.block[data-block-section="4"].fixed {
  left: 12rem;
}

.block[data-block-section="5"].init {
  left: calc(100vw - 4rem);
}

.block[data-block-section="5"].fixed {
  left: 16rem;
}

.block__title{
  position: relative;
  white-space: nowrap;
  transform: rotate(-90deg) translate(-50%);
  text-align: right;
  color: #5a3d2d;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.06rem;
}


#rotatingImage {
  z-index: 1000;
  position: fixed;
  bottom: 20vh; /* Adjust as needed */
  left: 50%;
  width: 6%;
 
}


/* ---------WELCOME IAMGE---------*/
.welcome{
  position:fixed;
  z-index: 4;
  top:-10vh;
  left:10vw;
  width: 30vw;
}

.welcome img {
  transform-origin: top center;
  transition: transform 0.8s ease-in-out;
}

@keyframes swing {
  0%, 100% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
}

.welcome:hover img {
  animation: swing 2s ease-in-out;
}

/* ---------LARGE BOXES--------*/

.main-tittle {
  flex-direction: column; /* Stack children vertically */
  background-color: #b23f38;
  width: 22vw;
  bottom: -16px;
  height: 8vw;
  color: #fff;
  font-weight: 700;
  
  
}
.main-tittle, .projects, #exp-top{
 display:flex; 
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  border: 1px solid rgba(255,255,255,.12);
  box-shadow: -2px 2px 4px rgba(0,0,0,.1), -1px 1px 6px rgba(0,0,0,.1), -3px 3px 6px rgba(0,0,0,.1);
  margin: 2em;
  z-index: 1;
  border-radius: 15px;
  transition: transform 0.5s ease; /* Adjust time and easing function as needed */
  transform: scale(1);
}


#college{
  left: 0vw;
  background-color: #7a3726;
}

#jurong{
  left: 24vw;
  background-color: #a4867c
}

#titan{
  left: 94vw;
  background-color: #a4867c;
}

#freelance{
  left: 14vw;
  background-color: #a4867c;
}


#masters{
  left: 80vw;
  background-color: #7a3726;
}

#terra{
  left: 90vw;
  background-color: #2f4842;
}


/* ---------SMALL TITTLES-------------*/

.projects{
  background-color: #be713b;
  position: absolute;
 padding: 1em; 
  bottom: 21px;
  height: 4vw;
  color: #000; 
  font-weight: 700; 
 
}
#exp1{left: 48vw;}
#exp2{left: 61vw;}
#exp3{left: 74vw;}
#exp4{left: 85vw;}
#exp5{left: 2vw;}
#exp6{left: 42vw;background-color:#a06e3c;}
#exp7{left: 56vw;background-color:#a06e3c;}
#exp8{left: 68vw;background-color:#a06e3c;}
#exp9,.list{left: 106vw; background-color:#a4867c;}
#exp10,.list1{left: 4vw;background-color:#a4867c;}
#exp11,.list2{left: 20vw;background-color:#a4867c;}
#exp12{width: 20%;left: 46vw;background-color:#a74e24;}


/* ---------POPUPS AND CERTIFICATES-------------*/

/* ---------COA BADGE---------*/

.coa-badge {
  transition: opacity .4s ease, transform .4s ease;
  opacity:0;
  bottom: 60vh;
  left: 6vw;
  z-index: 5;
  border: .6em solid #2f4842; 
  border-radius: 50%;
  width: 10vw; 
  height: 20vh;
  position: absolute;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  background-color: white; 
  padding: 10px; 
  box-sizing: border-box; 
}

.coa-badge-text {
  padding: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  }

.coa-license{
  color: #2f4842;
   /* Adjust as needed */
  font-weight: 900; /* Adjust as needed */
  line-height: 1; /* Adjust as needed */
  font-style: italic;
}

.coa-body {
 color: #2f4842;
  /* Adjust as needed */
 font-weight: 400; /* Adjust as needed */
 line-height: 1.2; /* Adjust as needed */
}




.coa-logo img {
  width: 40%; /* Adjust logo size as needed */
  height: auto;
  align-self: center; /* Align logo horizontally */
  margin: 10px 0; /* Adjust logo spacing as needed */
}

/* ----------RIBBON--------*/

.banner, .banner2  {

    display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  transition: opacity .4s ease, transform .4s ease;
  opacity:0;
  bottom: 75vh;
  left: 22%;
  position: absolute;
  z-index: 5;
  text-align: center; /* Center align the ribbon */
}

.banner2  {
  left: 84%;
}

.ribbon,.ribbon2 {
  z-index: 4;
  display: inline-flex; /* Use flexbox for better alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  position: relative;
  background-color: #d65e44; /* Ribbon color */
  color: white; /* Text color */

  text-transform: uppercase; /* Uppercase text */
  font-weight: bold; /* Bold text */
  padding: 4px 8px; /* Adjusted padding */
  margin-top: -20px; /* Adjust as necessary to position ribbon */
}


.SJ-logo img {
  width: 50px; /* Fixed width for the logo */
  height: auto;
  margin-left: 10px; /* Space between text and logo */
}
.titan-logo img {
  width: 30px; /* Fixed width for the logo */
  height: auto;
  margin-left: 10px; /* Space between text and logo */
}
.award-side img, .award-side2 img, .award-side3 img, .award-side4 img {
  width: 50px; /* Fixed width for the side images */
  height: auto;
  position: absolute; /* Absolute positioning relative to the banner */
  top:0;
}

.award-side img, .award-side3 img {
  left: -32px; /* Spacing from the left edge */
}

.award-side2 img,.award-side4 img {
  right: -22px; /* Spacing from the right edge */
}

#exp-top{
bottom: 30%;
  transition: top 0.1s ease; /* Adjust time and easing function as needed */
  height: 40%;
  background-color: #a74e24;
  position: absolute;
  transform-origin: center;
  color: #000; /* Assuming you want black text color instead of white */
  font-weight: 700;
  
}

.terra-certi{
  left: 96vw;
  position: absolute;
  width: 12%;
  bottom: 42%;
  z-index: 2;
  transition: opacity .4s ease, transform .4s ease;
  opacity: 0;
}


.thesis-concept{
  bottom: 42%;
  position: absolute;
  left: 34%;
  width: 42vw;
  border: 8px solid #a74e24; 
  border-radius: 3%;
  transition: opacity .4s ease, transform .4s ease;
  opacity: 0;
}

.icons {
  position: absolute;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  bottom:32%;
}

#villa { left: 48vw; width: 9vw; bottom:32%; height: auto;}
#transit { left: 38vw;width: 64vw;bottom:32%;height: auto; }
#metro { left: 76vw;width: 9vw;bottom:32%; height: auto;}
#interior { left: 87vw;width:9vw;bottom:32%;height: auto; }
#retail { left: 2vw;width:12vw;bottom:32%;height: auto; }
#villa2 { left: 42vw;width: 12vw;bottom:32%;height: auto; }
#homestay { left: 56vw;width: 12vw;bottom:32%;height: auto; }
#interior2 { left: 68vw;width:12vw;bottom:32%;height: auto; }


/*............skills......*/

.skill-container {
  position: absolute; top: 24vh; left:2vw; width: 100%; height: 100%; z-index: 7; display: flex; justify-content: center; align-items: baseline;
}
.skill-card {
  z-index: 3;
  width: 160px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  perspective: 1000px;
  margin: 0 4px;
}

.skill-card-inner {
  
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.skill-card-front, 
.skill-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.skill-card-front {
 
  transform-origin: center;
  background-color: #d85c31;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card-back {
  background-color: #4e9390;
  color: #000;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}



/*.......FIRST SHEET....*/
.section.journal {
  position: relative;
  text-align: center; /* Center everything in this section */
}

.intro-container {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%); /* Center the container */
}

.profile-image {
  width: 30%; /* Adjust size as needed */
  height: 30%;
  border-radius: 50%; /* Makes the image round */
  overflow: hidden; /* Ensures the image doesn't overflow its container */
  margin: 0 auto; /* Center the image horizontally */
}

.profile-image img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 150%; /* Adjust size as needed */
  margin-top: 0.5em;
}

.tagline {
  font-style: italic;
  font-size: 700;
  color: #555; /* Adjust color as needed */
  margin-bottom: 2em;
}

.links-container a {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 15px;
  background-color: #333; /* Button color */
  color: white; /* Text color */
  text-decoration: none;
  border-radius: 5px;
}

.links-container a:hover {
  background-color: #555; /* Button hover color */
}

.greeting ,.scroll-instruction{
  top: 45%;
  width: 60%;
  left: 22vw;
  position: absolute;
  z-index: 64;
  font-size: 400%;
  color: #555; /* Adjust color as needed */
  margin-bottom: 2em;
}

.scroll-instruction{
  top: 80%;
  font-size: 150%;
  left: 26%;
}

/* ............... */

@media only screen and (max-width: 768px) {
  /* Reset styles for smaller screens */
 .blocks, #rotatingImage, .scroll-instruction,.blocks, .block,.block__title, .award-side img, .award-side2 img, .award-side3 img, .award-side4 img   {
        display: none;
    }


  html, body, main {
    overflow: auto; /* Enable vertical scrolling */
    height: 100%; /* Remove fixed height */
    width: 100%; /* Allow natural width */
    font-size: 0.4rem;
  }
 .icons{
  opacity:1;
 }
  .wrap {
    flex-direction: column; /* Stack children vertically */
  }

  .section {
    flex-direction: column;
    width: 100vw; /* Full viewport width */
    left: 0; /* Reset left positioning */
    position: relative; /* Adjust position if needed */
    font-size: 3em; /* Adjust font size for readability */
  }

.greeting{
  left:34%;
  top:68%;
}

#college{
  left: 10%;
  top:10%;
}

#jurong{
  left: 10%;
  top:34%;
}

#titan{
  left: 10%;
  top:84%;
}

.coa-badge{
  opacity: 1;
  left:60%;
  width: 16vw; 
  height: 12vh;
  top:8%;
}

.banner{ opacity: 1;left:60%;top:40%; font-size: .6rem;}
.SJ-logo img {width: 10px;}
#exp1{top:50%;left:12%;}
#exp2{top:50%;left:32%;}
#exp3{top:50%;left:52%;}
#exp4{top:50%;left:72%;}
#exp5{top:4%;left:12%;}
#exp6{top:35%;left:12%;}
#exp7{top:48%;left:12%;}
#exp8{top:61%;left:12%;}
#exp9{top:88%;left:12%;}
#exp10{top:8%;left:12%;}
#exp11{top:26%;left:12%;}
#exp12{top:50%;left:10%;}

#transit{top:60%;left:12%;}
#retail{opacity: 1;left:60%;top:-12%;}
#villa2{opacity: 1;left:60%;top:18%;}
#homestay{opacity: 1;left:60%;top:30%;}
#interior2{opacity: 1;left:60%;top:38%;}

#freelance{
  left: 10%;
  top:20%;
}

#masters{
  left: 10%;
  top:72%;
}

#exp-top br{display: none;}
#exp-top {height:4vh;}
.list {top:86%;left:48%;}
.list1 {top:6%;left:48%;}
.list2 {top:23%;left:48%;}

#terra{
   left: 10%;
  top:80%;
}
.thesis-concept{opacity: 1;left:48%;bottom: 30%;}
.terra-certi{opacity: 1;left:58%;bottom: 5%;}

.skill-container{
  left: 0;
  top:0;}


.main-tittle, .projects, #exp-top{ border-radius: .5em; }

.main-tittle{ height: 6vh; }

#background{opacity: 0;}

}